.schedule-wrapper {
  padding: 20px 40px;
}

.schedule-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  background: #6b3f75;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.month-block {
  margin-top: 30px;
}

.slot-grid {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.slot-card {
  text-align: center;
}

.slot-box {
  background: #e7ddff;
  padding: 12px;
  border-radius: 6px;
  width: 110px;
}

.slot-box .date {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.delete-btn {
  margin-top: 6px;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}
